<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeKart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HomeKart.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Rubik+Moonrocks&family=Smooch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <style>
        .font {
            font-family: 'Source Serif Pro', serif;
        }
    </style>
</head>
<body style="background-color:#FFFFFF">
    <main role="main" class="pb-3 font">
        @RenderBody()
    </main>

    <footer class="border-top footer font bg-light text-dark">
        <div class="col-12 d-flex mt-5 mb-5">
            <div class="col-1"></div>
            <div class="col-3">
                <h2><i class="bi bi-house-fill"></i>&nbsp <b>Homekart.com</b></h2>
                <h6>© 2022 HomeKart Group, Inc.</h6>
            </div>
            
            <div class="col-2 mt-1">
                <h4><b>Office locations</b></h4>
                <h5>Dhanmondi, Dhaka</h5>
                <h5>Gulshan, Dhaka</h5>
                <h5>Banani, Dhaka</h5>
                <h5>KB Square, Chattogram</h5>
                <h5>Shib Bari, Khulna</h5>
                <h5>Zero Point, Rajshahi</h5>
                <h5>Osmani Road, Sylhet</h5>
                <h5>Azad Avenue, Barishal</h5>
            </div>
            <div class="col-2 mt-1">
                <h4><b>Contacts</b></h4>
                <h5>+880-1765-123456</h5>
                <h5>+880-1765-123123</h5>
                <h5>+880-1765-123321</h5>
                <h5>+880-1765-112233</h5>
                <h5>+880-2934-52431</h5>
            </div>
            <div class="col-2 mt-1">
                <h4><b>Others</b></h4>
                <h5>Privacy</h5>
                <h5>Terms of use</h5>
            </div>
            <div class="col-2 mt-1">
                <h4><b>Roles</b></h4>
                <a asp-controller="Admin" asp-action="Index"><h5 style="color:black !important">Admin</h5></a>
                <a asp-controller="Owner" asp-action="Index"><h5 style="color:black !important">Owner</h5></a>
                <a asp-controller="Renter" asp-action="Index"><h5 style="color:black !important">Renter</h5></a>
            </div>
            
        </div>
        <div class="col-12 text-center text-black mb-5">
            <h6>
                All rights reserved by © HomeKart Group Inc.
            </h6>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
