@{
    ViewData["Title"] = "Home Page";
}

<style>
    .hp1 {
        margin-top: 35px;
        margin-left: 35px;
        margin-right: 35px;
        height: 70px;
        background-color: #3B3B3B;
    }

    .cent {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .font {
        font-family: 'Source Serif Pro', serif;
    }

    a {
        text-decoration: none;
    }

    .centered {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scrolling-active {
        background-color: #FFFFFF !important;
        height: 7vh !important;
    }

        .scrolling-active a {
            color: #000000 !important;
        }

    .hovw a:hover {
            color: black !important;
        }

</style>

@if (ViewBag.LogChk == "Yes")
{
    <header>
        <nav class="navbar navbar-expand-sm font navbar-toggleable-sm fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="font-size:20px; " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
                <div class="text-center col-6" style="margin-right:7vw">
                    <a class="navbar-brand text-center" style="font-family: 'Source Serif Pro', serif; font-size:40px" asp-area="" asp-controller="Home" asp-action="Index">HomeKart</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="margin-right:1vw; font-size:18px;" asp-controller="Role" asp-action="Index">
                            Welcome! @ViewBag.Name
                        </a>
                    </li>
                    <li class="nav-item hovw">
                        <a class="nav-link btn btn-outline-light hovw" asp-controller="SignIn" asp-action="SignOut">
                            Sign out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
}
else
{
<header>
    <nav class="navbar navbar-expand-sm font navbar-toggleable-sm fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" style="font-size:20px; color:#bfbfbf !important;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
            <div class="text-center col-6" style="margin-right:13vw">
                <a class="navbar-brand text-center" style="font-family: 'Source Serif Pro', serif; font-size:40px" asp-area="" asp-controller="Home" asp-action="Index">HomeKart</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item hovw">
                    <a class="nav-link btn btn-outline-light" style="margin-right:1vw" asp-controller="SignIn" asp-action="Index">
                        Sign In
                    </a>
                </li>
                <li class="nav-item hovw">
                    <a class="nav-link btn btn-outline-light" asp-controller="Register" asp-action="Index">
                        Register
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
}



<div class="col-12 animate__animated animate__bounceInDown" style="position: relative;text-align: center;margin-top:10vh">
    <img class="col-12" src="~/Images/Image 8.jpg" style="height:70vh" />
    <div class="centered font text-center" style="font-size:60px;">
        <a style="font-size:60px !important;background:-webkit-linear-gradient(#000000,  #808080);-webkit-text-fill-color: transparent;-webkit-background-clip: text;">Discover Your New Home</a>
    </div>
</div>


<div class="container font mt-5 text-center">
    <h1>Explore Suitable Properties</h1>
    <h3 class="mt-3">Properties listed from all around Bangladesh!</h3>
</div>

<div class="container d-flex col-12 mt-5 font">
    <div class="col-6 d-flex justify-content-center align-items-center" style="background:#f2f2f2">
        <div style="">
            <h2>Renting made simple.</h2>
            <h4>Easily search for the property you want with just a click!</h4>
        </div>
    </div>
    <div class="col-6">
        <img src="~/Images/Searching.png" style="width:100%;height:100%;" />
    </div>
</div>
<div class="container d-flex col-12 font">
    <div class="col-6">
        <img src="~/Images/Coverage.jpg" style="width:100%;height:50vh;" />
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center" style="background:#f2f2f2">
        <div style="">
            <h2>Maximum coverage.</h2>
            <h4>All 64 districts are connected through a single website!</h4>
        </div>
    </div>
</div>

<div class="container d-flex col-12 font">
    <div class="col-6 d-flex justify-content-center align-items-center" style="background:#f2f2f2">
        <div style="">
            <h2>Secured search.</h2>
            <h4>All your informations are safe with us!</h4>
        </div>
    </div>
    <div class="col-6">
        <img src="~/Images/Security 2.jpg" style="width:100%;height:50vh;" />
    </div>
</div>


<div class="container text-center bg-dark font mt-5 pt-2 pb-2">
    <h1 style="color:#E6E6E6;" class="font">What do we offer?</h1>
</div>

<div class="font container col-12 mt-5 d-flex">
    <img class="col-6 animate__animated animate__backInLeft" src="~/Images/Image 1.jpg" />
    <div class="col-6 animate__animated animate__backInRight" style="padding-left:100px; font-size:30px; padding-top:70px;">
        <ul>
            <li>Best apartments </li>
            <li>Reasonable rate</li>
            <li>Best collection</li>
            <li>Easy user interface</li>
            <li>Trusted sources</li>
        </ul>
    </div>
</div>


<div class="container text-center font bg-dark mt-5 pt-2 pb-2">
    <h1 style="color:#E6E6E6;" class="font">Why us?</h1>
</div>

<div class="container col-12 mt-5 d-flex" style="margin-bottom:65vh">
    <div class="col-6 font animate__animated animate__backInLeft" style="padding-left:100px; font-size:30px; padding-top:70px;">
        <ul>
            <li>Best collection of team </li>
            <li>Trusted sources</li>
            <li>Proper inspection</li>
            <li>Proper documentation</li>
            <li>Up to date database</li>
        </ul>
    </div>
    <img class="col-6 animate__animated animate__backInRight" src="~/Images/Image 4.jpg" />

</div>

<script>
    window.addEventListener('scroll', function() {
        let nav = document.querySelector('nav');
        nav.classList.toggle('scrolling-active', window.scrollY > 200);
    })
</script>

@if (ViewBag.LogOut != null)
{
    <script type="text/javascript">
        window.onload = function() {
            alert("@ViewBag.LogOut");
        };
    </script>
}