@model OwnerVM

<style>
    .font {
        font-family: 'Playfair Display', serif;
    }
</style>

<div class="container col-12 mt-5 d-flex font mb-3">
    <div class="col-6 ">
        <div class="col-10 bg-light p-5" style="border-radius:25px;">
            <form method="post">
                <div class="">
                    <h2>Enter property details:</h2>
                </div>
                <div asp-validation-summary="All"></div>
                <div class="form-group mt-3">
                    <label asp-for="Address" class="m-2"></label>
                    <input asp-for="Address" type="text" class="form-control" id="address" placeholder="Address">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Area" class="m-2"></label>
                    <input asp-for="Area" type="text" class="form-control" id="area" placeholder="Area">
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="No_of_Rooms" class="m-2">Number of Rooms</label>
                    <input asp-for="No_of_Rooms" type="text" class="form-control" id="rooms" placeholder="Number of Rooms">
                    <span asp-validation-for="No_of_Rooms" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Floor_No" class="m-2">Floor no</label>
                    <input asp-for="Floor_No" type="text" class="form-control" id="floor" placeholder="Floor No">
                    <span asp-validation-for="Floor_No" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Rent_Amount" class="m-2">Rent amount</label>
                    <input asp-for="Rent_Amount" type="text" class="form-control" id="amount" placeholder="Rent amount">
                    <span asp-validation-for="Rent_Amount" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Phone" class="m-2">Phone</label>
                    <input asp-for="Phone" type="text" class="form-control" id="phone" placeholder="Phone No.">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                
                <div class="form-group mt-5 text-center">
                    <button type="submit" class="btn btn-primary col-5">Add</button>
                </div>
                
            </form>
        </div>
    </div>
    <div class="col-6">
        <img style="width:45vw; margin-top:15vh" src="~/Images/Image 3.jpg" />
    </div>
</div>


